header {
    min-height: 50vh;
    background: linear-gradient(180deg,
            rgba(21, 18, 18, 0.4),
            rgba(40, 39, 39, 0.4)), url('./preference_background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* nav bar starts here */

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 0px 8px;
   
}

.imgDiv {
    position: relative;
    width: 50%;
}

header .imgDiv img {
    flex-basis: 25%;
}

header .imgDiv p {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 5%;
    right: 0;
}

.navBar .desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    align-items: center;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 20px;
}

/* Hide the checkbox */
.menu-icon {
    display: none;
}

.desktop-menu li {
    font-size: 1rem;
    margin: 1rem;
    list-style: none;
    color: #fff;
}

.desktop-menu li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;

    background-color: #ffd700;
    position: absolute;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.desktop-menu li a:hover::after {
    width: 3%;
    margin-left: 15px;
}

.desktop-menu li a {
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.drop-down {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #f0f0f0;
    min-width: 160px;
    z-index: 999;
    top: 0;
    right: 0;

}

.dropdown-menu li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.desktop-menu li:hover .dropdown-menu {
    display: block;
}
/* nav bar ends here */
.spanName {
    position: absolute;
    top: 50%;
    right: 3%;
    font-size: 1.5rem;
    font-weight: 400;
    color: #FDED9C;
}

.sec-one h1 {
    margin-block: 4rem;
    padding-inline: 1rem;
    font-weight: 400;
    font-size: 2rem;
}

.div-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-block: 3rem;
}

.sec-one-div1 a {
    text-decoration: none;
    color: #000000;
}

.sec-one-div1 .item {
    border: 2px solid #000000;
    margin-block: 1rem;
    padding: 0.2rem 4rem 0.2rem 1rem;
    border-radius: 10px;
}

.sec-one-div1 .item span {
    padding-inline: 0.5rem;
    font-size: 1.5rem;
}

.sec-one-div1 .item a {
    font-size: 1rem;
    text-decoration: none;
}

.sec-one-div1 .payment {
    margin: 1rem;
    background-color: #000000;
}

.sec-one-div1 .paymentitem{
    background-color: #FDED9C;
}

.payment h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    margin-block: 2rem;
}

.payment p {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.payment button{
    text-decoration: none;
    display: inline-block;
    color: black;
    text-align: right;
    background-color: #FDED9C;
    padding: 0.5rem;
    border-radius: 8px;
}