.sec-one-div1 .tripitem{
    background-color: #FDED9C;
}

.sec-one-div2 {
    margin: 1rem;
}

.triprecord .record {
    margin: 0.8rem;
    padding: 0.5rem 1rem 0.5rem;
    text-align: right;
    border-radius: 7px;
}

.responseDiv #reply {
    padding: 0.5rem 35rem 0.5rem 0.5rem;
    margin: 0.5rem;
    border-radius: 7px;
}